
#div1, #div2, #div3,#circle, #div4, #div5,#div6,#div7,#div8,#div9,#div10 {
    width: 300px;
    height: 100px;
}

#div1 {
    background: blue;
}

#div2 {
    background: yellow;
}

#div3 {
    background: whitesmoke;
    margin-top: 10px;
    height: 200px;
}

#circle{
    background: red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transform: translate(100px,-150px);
}

#div4 {
    background: darkblue;
    height: 200px;
    transform: translate(0px,-90px);
}

#div5{
    background: red;
    width: 20px;
    height: 200px;
    transform: translate(60px,-290px);
    border-color: whitesmoke;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 10px;
}

#div6{
    background: red;
    width: 70px;
    height: 20px;
    transform: translate(0px,-410px);
    border-color: whitesmoke;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 10px;
}

#div7{
    background: red;
    width: 210px;
    height: 20px;
    transform: translate(90px,-450px);
    border-color: whitesmoke;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 10px;
}

#div8{
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-left: 100px solid darkblue;
    border-bottom: 100px solid transparent;
    transform: translate(0px,-360px);
}

#div9{
    height: 0;
    transform: translate(0px,-560px);
    border: 100px solid transparent; border-top: 100px solid whitesmoke; border-right: 0px solid whitesmoke;
    width: 200px;
}

#div10{
    width: 200px;
    height: 0;
    border-bottom: 100px solid red;
    border-left: 100px solid transparent;
    transform: translate(0px,-660px);
}
